{% extends "main/base.html" %}

{% block title %}Автопарк - добавить{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <h1 class="text-center">Добавить новый</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-left">Автопарк</h2>

                {% if errors is not null %}
                    {% for error in errors %}
                        <div class="row justify-content-center pt-1 pb-1">
                            <span class="badge badge-pill badge-warning  col-md-6">{{ error }}</span><br>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" action="avtopark/create">
                    <div class="form-group row justify-content-between">
                        <label for="exampleInputEmail1" class="align-self-center col">Название:</label>
                        <input type="text" name="avtoparkName" class="form-control col-8" value="{{ avtoparkName }}" placeholder="Название">

                    </div>
                    <div class="form-group row justify-content-between">
                        <label for="exampleInputPassword1" class="align-self-center col">Адрес:</label>
                        <input type="text" name="avtoparkAdres" class="form-control col-8" placeholder="Адрес" value="{{ avtoparkAdres }}">
                    </div>
                    <div class="form-group row justify-content-between">
                        <label for="exampleInputPassword1" class="align-self-center col">График работы:</label>
                        <input type="text" name="avtoparkSchedule" class="form-control col-8" placeholder="График работы" value="{{ avtoparkSchedule }}">
                    </div>
                    <hr>
                    <h2 class="text-left">Машины</h2>
                    <div  id="cars">

                        <div id="avto" class="form-row">
                            <div  class="col">
                            <p class="mt-2 mb-2">Номер машины</p>
                            </div>
                            <div class="col">
                            <p class="mt-2 mb-2">Имя водителя</p>
                            </div>
                        </div>

                        <div id="car" class="form-row">
                            {#<div class="col">#}
                                {#<p class="mt-2 mb-2">Номер машины</p>#}
                                {#<input type="text" class="form-control" placeholder="Номер машины" >#}
                            {#</div>#}
                            {#<div class="col">#}
                                {#<p class="mt-2 mb-2">Имя водителя</p>#}
                                {#<input type="text" class="form-control" placeholder="Имя водителя">#}
                            {#</div>#}
                        </div>
                    </div>
                        <div class="d-flex flex-row pt-3" style="width: 40px">
                            <button type="button" id="delCar" class="btn btn-outline-info mr-3">-</button>
                            <button type="button" id="addCar" class="btn btn-outline-info">+</button>
                        </div>


                    <button type="submit" name="save" class="btn btn-primary mt-3">Сохранить</button>
                </form>

            </div>
        </div>


{% endblock %}



