{% extends "main/base.html" %}

{% block title %}Автопарк{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Автопарк</h1>
            </div>
            {% if result %}
                <div class="col-md-12 justify-content-center pt-1 pb-1">
                    <span class="alert alert-primary  col-md-6 p-1">{{ result }}</span><br>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="text-black-50 row text-left">
                    <p class="col-md-3">Название</p>
                    <p class="col-md-3">Адрес</p>
                    <p class="col-md-3">Расписание</p>
                    {% if User %}
                        <p class="col-md-3 text-center">Редактировать</p>
                    {% endif %}
                </div>
            </div>
            {% for obj in avtopark  %}
                <div class="col-md-12">
                    <div class="row pt-1 border-top text-left">

                        <p class="m-0 col-md-3">{{ obj.name }}</p>
                        <p class="m-0 col-md-3">{{ obj.adres }}</p>
                        <p class="m-0 col-md-3">{{ obj.schedule  }}</p>
                        {% if User %}
                            <div class="col-md-3 text-center">
                                <a href="avtopark/edit/{{ obj.id }}">
                                    <img src="public/img/edit.png" alt="Редактировать" width="20px">
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <h6 class="ml-3 col-md-12 text-left text-black-50">Авто в парке:</h6>
                    </div>
                    <div class="row ml-4 text-black-50">
                        <p class="m-0 col-md-2">Номер</p>
                        <p class="m-0 col-md-2">Владелец</p>
                    </div>
                </div>
                {% for avto in obj.getCars()  %}
                    <div class="col-md-12">
                        <div class="row ml-4">
                            <p class="m-0 col-md-2">{{ avto.num }}</p>
                            <p class="m-0 col-md-2">{{ avto.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}



